In [44]:
import pandas as pd
import matplotlib

languages_xls = pd.read_excel("Top+Ten+Refugee+Native+Languages(10.2.18).xls")
languages_xls

WARNING *** file size (16256) not 512 + multiple of sector size (512)

,Department of State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Bureau of Population, Refugees, and Migration",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Office of Admissions - Refugee Processing Center,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Top Ten Refugee Native Languages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Fiscal Years 2008 through 2019 as of September...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Arrivals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Rank,Native Language,FY 2008,FY 2009,FY 2010,FY 2011,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,NaN,NaN,FY 2018,Cumulative Total
11,1,Arabic,9767,13675,15199,7372,9938,17230,17858,13432,21527,12175,NaN,NaN,288,138461
12,2,Nepali,5302,13450,12355,14993,15114,9164,8484,5790,5840,3580,NaN,NaN,2237,96309
13,3,Somali,2402,3879,4787,3057,4763,7295,8449,8318,8203,5454,NaN,NaN,285,56892
14,4,Sgaw Karen,7460,3331,5833,6521,4148,5011,4115,4030,2740,1190,NaN,NaN,837,45216
15,5,Spanish,4247,4831,4951,2976,2076,4430,4305,2046,1338,1675,NaN,NaN,949,33824
16,6,Kiswahili,170,534,2021,472,794,1336,1332,3528,6532,3516,NaN,NaN,3476,23711
17,7,Chaldean,2897,3783,2550,1392,1790,1954,1328,511,348,369,NaN,NaN,3,16925
18,8,Burmese,3769,2040,1414,1290,1146,1523,1066,2036,1341,457,NaN,NaN,358,16440
19,9,Armenian,3625,3444,1798,747,387,875,1190,1179,1575,907,NaN,NaN,81,15808
20,10,Farsi (Western),625,1188,1233,991,1258,1582,1497,1716,1919,1568,NaN,NaN,72,13649
21,NaN,Total,40264,50155,52141,39811,41414,50400,49624,42586,51363,30891,NaN,NaN,8586,457235
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,*Please note Special Immigrant Visa (SIV) reci...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
languages_xls = languages_xls[10:21]
languages_xls

,Department of State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
10,Rank,Native Language,FY 2008,FY 2009,FY 2010,FY 2011,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,NaN,NaN,FY 2018,Cumulative Total
11,1,Arabic,9767,13675,15199,7372,9938,17230,17858,13432,21527,12175,NaN,NaN,288,138461
12,2,Nepali,5302,13450,12355,14993,15114,9164,8484,5790,5840,3580,NaN,NaN,2237,96309
13,3,Somali,2402,3879,4787,3057,4763,7295,8449,8318,8203,5454,NaN,NaN,285,56892
14,4,Sgaw Karen,7460,3331,5833,6521,4148,5011,4115,4030,2740,1190,NaN,NaN,837,45216
15,5,Spanish,4247,4831,4951,2976,2076,4430,4305,2046,1338,1675,NaN,NaN,949,33824
16,6,Kiswahili,170,534,2021,472,794,1336,1332,3528,6532,3516,NaN,NaN,3476,23711
17,7,Chaldean,2897,3783,2550,1392,1790,1954,1328,511,348,369,NaN,NaN,3,16925
18,8,Burmese,3769,2040,1414,1290,1146,1523,1066,2036,1341,457,NaN,NaN,358,16440
19,9,Armenian,3625,3444,1798,747,387,875,1190,1179,1575,907,NaN,NaN,81,15808
20,10,Farsi (Western),625,1188,1233,991,1258,1582,1497,1716,1919,1568,NaN,NaN,72,13649

In [46]:
languages_xls.columns = languages_xls.iloc[0]
languages_xls

10,Rank,Native Language,FY 2008,FY 2009,FY 2010,FY 2011,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,nan,nan,FY 2018,Cumulative Total
10,Rank,Native Language,FY 2008,FY 2009,FY 2010,FY 2011,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,NaN,NaN,FY 2018,Cumulative Total
11,1,Arabic,9767,13675,15199,7372,9938,17230,17858,13432,21527,12175,NaN,NaN,288,138461
12,2,Nepali,5302,13450,12355,14993,15114,9164,8484,5790,5840,3580,NaN,NaN,2237,96309
13,3,Somali,2402,3879,4787,3057,4763,7295,8449,8318,8203,5454,NaN,NaN,285,56892
14,4,Sgaw Karen,7460,3331,5833,6521,4148,5011,4115,4030,2740,1190,NaN,NaN,837,45216
15,5,Spanish,4247,4831,4951,2976,2076,4430,4305,2046,1338,1675,NaN,NaN,949,33824
16,6,Kiswahili,170,534,2021,472,794,1336,1332,3528,6532,3516,NaN,NaN,3476,23711
17,7,Chaldean,2897,3783,2550,1392,1790,1954,1328,511,348,369,NaN,NaN,3,16925
18,8,Burmese,3769,2040,1414,1290,1146,1523,1066,2036,1341,457,NaN,NaN,358,16440
19,9,Armenian,3625,3444,1798,747,387,875,1190,1179,1575,907,NaN,NaN,81,15808
20,10,Farsi (Western),625,1188,1233,991,1258,1582,1497,1716,1919,1568,NaN,NaN,72,13649

In [47]:
languages_xls = languages_xls.reindex(languages_xls.index.drop(10))
languages_xls

10,Rank,Native Language,FY 2008,FY 2009,FY 2010,FY 2011,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,nan,nan,FY 2018,Cumulative Total
11,1,Arabic,9767,13675,15199,7372,9938,17230,17858,13432,21527,12175,NaN,NaN,288,138461
12,2,Nepali,5302,13450,12355,14993,15114,9164,8484,5790,5840,3580,NaN,NaN,2237,96309
13,3,Somali,2402,3879,4787,3057,4763,7295,8449,8318,8203,5454,NaN,NaN,285,56892
14,4,Sgaw Karen,7460,3331,5833,6521,4148,5011,4115,4030,2740,1190,NaN,NaN,837,45216
15,5,Spanish,4247,4831,4951,2976,2076,4430,4305,2046,1338,1675,NaN,NaN,949,33824
16,6,Kiswahili,170,534,2021,472,794,1336,1332,3528,6532,3516,NaN,NaN,3476,23711
17,7,Chaldean,2897,3783,2550,1392,1790,1954,1328,511,348,369,NaN,NaN,3,16925
18,8,Burmese,3769,2040,1414,1290,1146,1523,1066,2036,1341,457,NaN,NaN,358,16440
19,9,Armenian,3625,3444,1798,747,387,875,1190,1179,1575,907,NaN,NaN,81,15808
20,10,Farsi (Western),625,1188,1233,991,1258,1582,1497,1716,1919,1568,NaN,NaN,72,13649

In [48]:
languages_xls = languages_xls.dropna(axis="columns")

In [49]:
languages_graph = languages_xls[languages_xls.columns[1:13]]
languages_graph

10,Native Language,FY 2008,FY 2009,FY 2010,FY 2011,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,FY 2018
11,Arabic,9767,13675,15199,7372,9938,17230,17858,13432,21527,12175,288
12,Nepali,5302,13450,12355,14993,15114,9164,8484,5790,5840,3580,2237
13,Somali,2402,3879,4787,3057,4763,7295,8449,8318,8203,5454,285
14,Sgaw Karen,7460,3331,5833,6521,4148,5011,4115,4030,2740,1190,837
15,Spanish,4247,4831,4951,2976,2076,4430,4305,2046,1338,1675,949
16,Kiswahili,170,534,2021,472,794,1336,1332,3528,6532,3516,3476
17,Chaldean,2897,3783,2550,1392,1790,1954,1328,511,348,369,3
18,Burmese,3769,2040,1414,1290,1146,1523,1066,2036,1341,457,358
19,Armenian,3625,3444,1798,747,387,875,1190,1179,1575,907,81
20,Farsi (Western),625,1188,1233,991,1258,1582,1497,1716,1919,1568,72

In [50]:
languages_graph = languages_graph.transpose()
languages_graph

,11,12,13,14,15,16,17,18,19,20
10,,,,,,,,,,
Native Language,Arabic,Nepali,Somali,Sgaw Karen,Spanish,Kiswahili,Chaldean,Burmese,Armenian,Farsi (Western)
FY 2008,9767,5302,2402,7460,4247,170,2897,3769,3625,625
FY 2009,13675,13450,3879,3331,4831,534,3783,2040,3444,1188
FY 2010,15199,12355,4787,5833,4951,2021,2550,1414,1798,1233
FY 2011,7372,14993,3057,6521,2976,472,1392,1290,747,991
FY 2012,9938,15114,4763,4148,2076,794,1790,1146,387,1258
FY 2013,17230,9164,7295,5011,4430,1336,1954,1523,875,1582
FY 2014,17858,8484,8449,4115,4305,1332,1328,1066,1190,1497
FY 2015,13432,5790,8318,4030,2046,3528,511,2036,1179,1716
FY 2016,21527,5840,8203,2740,1338,6532,348,1341,1575,1919
FY 2017,12175,3580,5454,1190,1675,3516,369,457,907,1568
FY 2018,288,2237,285,837,949,3476,3,358,81,72

In [51]:
languages_graph.columns = languages_graph.iloc[0]
languages_graph

Native Language,Arabic,Nepali,Somali,Sgaw Karen,Spanish,Kiswahili,Chaldean,Burmese,Armenian,Farsi (Western)
10,,,,,,,,,,
Native Language,Arabic,Nepali,Somali,Sgaw Karen,Spanish,Kiswahili,Chaldean,Burmese,Armenian,Farsi (Western)
FY 2008,9767,5302,2402,7460,4247,170,2897,3769,3625,625
FY 2009,13675,13450,3879,3331,4831,534,3783,2040,3444,1188
FY 2010,15199,12355,4787,5833,4951,2021,2550,1414,1798,1233
FY 2011,7372,14993,3057,6521,2976,472,1392,1290,747,991
FY 2012,9938,15114,4763,4148,2076,794,1790,1146,387,1258
FY 2013,17230,9164,7295,5011,4430,1336,1954,1523,875,1582
FY 2014,17858,8484,8449,4115,4305,1332,1328,1066,1190,1497
FY 2015,13432,5790,8318,4030,2046,3528,511,2036,1179,1716
FY 2016,21527,5840,8203,2740,1338,6532,348,1341,1575,1919
FY 2017,12175,3580,5454,1190,1675,3516,369,457,907,1568
FY 2018,288,2237,285,837,949,3476,3,358,81,72

In [52]:
languages_graph = languages_graph.drop(languages_graph.index[0])
languages_graph

Native Language,Arabic,Nepali,Somali,Sgaw Karen,Spanish,Kiswahili,Chaldean,Burmese,Armenian,Farsi (Western)
10,,,,,,,,,,
FY 2008,9767,5302,2402,7460,4247,170,2897,3769,3625,625
FY 2009,13675,13450,3879,3331,4831,534,3783,2040,3444,1188
FY 2010,15199,12355,4787,5833,4951,2021,2550,1414,1798,1233
FY 2011,7372,14993,3057,6521,2976,472,1392,1290,747,991
FY 2012,9938,15114,4763,4148,2076,794,1790,1146,387,1258
FY 2013,17230,9164,7295,5011,4430,1336,1954,1523,875,1582
FY 2014,17858,8484,8449,4115,4305,1332,1328,1066,1190,1497
FY 2015,13432,5790,8318,4030,2046,3528,511,2036,1179,1716
FY 2016,21527,5840,8203,2740,1338,6532,348,1341,1575,1919
FY 2017,12175,3580,5454,1190,1675,3516,369,457,907,1568
FY 2018,288,2237,285,837,949,3476,3,358,81,72

In [64]:
import pandas as pd
import plotly as plt
import plotly.plotly as py
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import helpers
import numpy as np 
plotly.offline.init_notebook_mode(connected=True)

languages = languages_graph.columns
traces = []
for language in languages:
    trace = go.Scatter(
        x = languages_graph.index,
        y = languages_graph[language],
        mode = 'lines',
        name = language
    )
    traces.append(trace)
    
    

layout = go.Layout(
    title='Refugee admission by native language',
    xaxis=dict(title='Year'),
    yaxis=dict(title='Count'),
    margin=go.Margin(
        l=50,
        r=50,
        b=200,
        t=50,
        pad=4
    ),
)


fig = go.Figure(data=traces,layout=layout)
iplot(fig)

In [ ]:
s